@use "../util/functions" as *;
//normal
@font-face {
  font-family: "Figtree";
  font-weight: 400;
  font-style: normal;
}

//medium
@font-face {
  font-family: "Figtree";
  font-weight: 500;
  font-style: normal;
}

//extrabold
@font-face {
  font-family: "Figtree";
  font-weight: 800;
  font-style: normal;
}

:root {
  --font: 'Figtree';

  --fs-12:rem(12);
  --fs-14:rem(14);
  --fs-16:rem(16);
  --fs-20:rem(20);
  --fs-24:rem(24);

  --font-size-h2:var(--fs-20);
  --font-size-p:var(--fs-14);
  --font-size-category:var(--fs-12);
  --font-size-publish-date:var(--fs-12);
  --font-size-author-name:var(--fs-14);

  @media(width >= rem(376)) {
    --font-size-h2: var(--fs-24);
    --font-size-p: var(--fs-16);

    --font-size-category:var(--fs-14);
    --font-size-publish-date:var(--fs-14);
  }

}